<!DOCTYPE html>
<html>
  <head>
  	<title>Stories</title>
   </head> 
<body>
<div class="contact-main">
 <img alt="Open" class="icon-menu" src="https://stories-rails.herokuapp.com/assets/open-9688b19dacd0cc7d027490776ace74ff.svg" width="24px">
  <!-- <img alt="Open" class="icon-menu" src="http://i437.photobucket.com/albums/qq99/anhtuan_0510/Summer20.jpg" width="24px">
  <img alt="Open" class="icon-menu" src="https://stories-rails.herokuapp.com/assets/open-9688b19dacd0cc7d027490776ace74ff.svg" width="24px"> -->
  
  <div class="content container"> 
    <h1>Thanks. We'll be in touch.</h1> 
  </div> 
  </div>
  </body>
  </html>
                                
  